# --- Security & Secrets ---
.env
*.env
.vault_pass
**/ansible-vault-password
rclone.conf

# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
!terraform/environments/*/terraform.tfvars.example

# --- Ansible ---
*.retry
*.log
inventory/prod/group_vars/vault.yml

# --- OS & IDE ---
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
node_modules/
dist/
build/
